@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  display: inline-block;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea::-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea::placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

textarea:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

.container {
  max-width: 1113px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #ecf7f3;
  overflow: hidden;
}

.header-nav {
  padding-top: 30px;
  padding-bottom: 74px;
}

.header-nav__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 763px;
}

.header-nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-leter {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #f9a779;
  margin-right: 8px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  color: #48b774;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-text {
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.header-menu__li {
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.header-menu__li:not(:last-child) {
  margin-right: 50px;
}

.header-menu__li:hover::after {
  content: "";
  width: 21px;
  height: 1.5px;
  background-color: #fb9b69;
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.btn-green {
  background-color: #48b774;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  padding: 9px 23px;
  color: #fff;
  border-radius: 20px;
  white-space: nowrap;
}

.main {
  padding-bottom: 34px;
}

.offer {
  position: relative;
  z-index: 4;
  padding-right: 30px;
}

.offer__title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  width: 375px;
  color: #2d2d2d;
}

.offer__title span {
  color: #ff8345;
}

.offer__subtitle {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  margin-bottom: 22px;
  color: #2d2d2d;
}

.offer__text {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #7c7c7c;
  width: 444px;
  margin-bottom: 30px;
}

.offer__link {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  padding: 11.5px 22px;
  margin-bottom: 71px;
}

.offer__search {
  width: 597px;
  margin-bottom: 40px;
}

.offer__search .form {
  width: 100%;
  position: relative;
}

.offer__search .form__input {
  width: 100%;
  background-color: #fff;
  padding: 21px 40px 22px 40px;
  border-radius: 100px;
}

.offer__search .form__input::-webkit-input-placeholder {
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #a1a1a1;
}

.offer__search .form__input::-moz-placeholder {
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #a1a1a1;
}

.offer__search .form__input:-ms-input-placeholder {
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #a1a1a1;
}

.offer__search .form__input::-ms-input-placeholder {
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #a1a1a1;
}

.offer__search .form__input::placeholder {
  font-family: Roboto;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #a1a1a1;
}

.offer__search .form__btn {
  cursor: pointer;
  width: 55px;
  height: 55px;
  background-color: #48b774;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 6px;
}

.offer__search .form__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/icons/search.svg") center/contain no-repeat;
  width: 25.67px;
  height: 25.67px;
}

.offer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 12px;
  margin-left: 19px;
}

.user-menu__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -19px;
  position: relative;
}

.user-menu__li:nth-child(1) {
  z-index: 5;
}

.user-menu__li:nth-child(2) {
  z-index: 4;
}

.user-menu__li:nth-child(3) {
  z-index: 3;
}

.user-menu__li:nth-child(4) {
  z-index: 2;
}

.user-plus {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ff8345;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #fff;
}

.user-text {
  font-family: Roboto;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  color: #707070;
}

.user-text span {
  color: #fd905a;
}

.main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-img {
  width: 470px;
  position: relative;
  margin-right: -50px;
}

.sphere-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-circle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 450px;
  height: 450px;
  border: 2px solid #e8e8e8;
  border-radius: 50%;
  position: relative;
}

.green-circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #48b774;
  position: absolute;
  z-index: 3;
  top: 117px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.circle-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: circle_round;
          animation-name: circle_round;
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.circle-list__li {
  position: absolute;
}

.circle-list__li img {
  max-width: 100%;
}

.circle-list__li:nth-child(1) {
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  width: 100px;
  top: 220px;
  left: 120px;
}

.circle-list__li:nth-child(2) {
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  top: 220px;
  left: 120px;
  -webkit-animation-name: circle2;
          animation-name: circle2;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-list__li:nth-child(3) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  top: 220px;
  left: 120px;
  -webkit-animation-name: circle3;
          animation-name: circle3;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-list__li:nth-child(4) {
  width: 130px;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
  top: 220px;
  left: 120px;
  -webkit-animation-name: circle4;
          animation-name: circle4;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-list__li:nth-child(5) {
  width: 100px;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
  top: 220px;
  left: 120px;
  -webkit-animation-name: circle5;
          animation-name: circle5;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.circle-list__li:nth-child(6) {
  top: 396px;
  left: 160px;
}

.girl-img {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 34px;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

@-webkit-keyframes circle_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 157px;
    left: -40px;
  }
}

@keyframes circle_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 157px;
    left: -40px;
  }
}

@-webkit-keyframes circle {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 257px;
    left: -40px;
  }
}

@keyframes circle {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 257px;
    left: -40px;
  }
}

@-webkit-keyframes circle2 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 87px;
    left: -60px;
  }
}

@keyframes circle2 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 87px;
    left: -60px;
  }
}

@-webkit-keyframes circle2_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 0;
    left: -60px;
  }
}

@keyframes circle2_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 0;
    left: -60px;
  }
}

@-webkit-keyframes circle3 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: -55px;
    left: 190px;
  }
}

@keyframes circle3 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: -55px;
    left: 190px;
  }
}

@-webkit-keyframes circle3_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: -55px;
    left: 120px;
  }
}

@keyframes circle3_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: -55px;
    left: 120px;
  }
}

@-webkit-keyframes circle4 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 60px;
    left: 350px;
  }
}

@keyframes circle4 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 60px;
    left: 350px;
  }
}

@-webkit-keyframes circle4_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 30px;
    left: 210px;
  }
}

@keyframes circle4_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 30px;
    left: 210px;
  }
}

@-webkit-keyframes circle5 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 245px;
    left: 390px;
  }
}

@keyframes circle5 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 245px;
    left: 390px;
  }
}

@-webkit-keyframes circle5_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 165px;
    left: 235px;
  }
}

@keyframes circle5_500 {
  0% {
    top: 220px;
    left: 120px;
  }

  100% {
    top: 165px;
    left: 235px;
  }
}

@-webkit-keyframes circle_round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle_round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  color: #2d2d2d;
  font-family: "Poppins";
  background-color: #fff;
  line-height: 26px;
  font-size: 16px;
}

.body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 991px) {
  .offer {
    width: 50%;
  }

  .offer__title {
    width: 100%;
    font-size: 38px;
    line-height: 55px;
  }

  .offer__subtitle {
    width: 100%;
    font-size: 38px;
    line-height: 55px;
  }

  .offer__text {
    width: 100%;
  }

  .offer__search {
    width: 100%;
  }

  .main-img {
    width: 50%;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 137px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #48b774;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #48b774;
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
  }

  .header-menu {
    position: fixed;
    z-index: 6;
    width: 160px;
    top: 75px;
    right: 137px;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }

  .header-menu .header-menu__li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 840px) {
  .offer__subtitle {
    margin-bottom: 10px;
  }

  .offer__text {
    margin-bottom: 20px;
  }

  .offer__link {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .header-nav {
    padding-bottom: 30px;
  }

  .offer {
    width: 100%;
    padding-bottom: 50px;
    padding-right: 0;
  }

  .main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-img {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .logo-text {
    font-size: 14px;
  }

  .border-circle {
    width: 300px;
    height: 300px;
  }

  .green-circle {
    width: 200px;
    height: 200px;
    top: 80px;
  }

  .circle-list__li:nth-child(1) {
    -webkit-animation-name: circle_500;
            animation-name: circle_500;
  }

  .circle-list__li:nth-child(2) {
    -webkit-animation-delay: 3.4s;
            animation-delay: 3.4s;
    -webkit-animation-name: circle2_500;
            animation-name: circle2_500;
  }

  .circle-list__li:nth-child(3) {
    -webkit-animation-delay: 3.8s;
            animation-delay: 3.8s;
    -webkit-animation-name: circle3_500;
            animation-name: circle3_500;
  }

  .circle-list__li:nth-child(4) {
    -webkit-animation-delay: 4.2s;
            animation-delay: 4.2s;
    -webkit-animation-name: circle4_500;
            animation-name: circle4_500;
  }

  .circle-list__li:nth-child(5) {
    -webkit-animation-delay: 4.6s;
            animation-delay: 4.6s;
    -webkit-animation-name: circle5_500;
            animation-name: circle5_500;
  }

  .circle-list__li:nth-child(6) {
    top: 250px;
    left: 95px;
  }
}